

<ion-header>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  
  <ion-toolbar>
    <ion-title>
      <h2>
          Encuentranos
      </h2>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
      <ion-textarea style="margin-top:20px;">
        
      </ion-textarea>

    </ion-item>
    <!-- contenedor MAPA -->
    <div id="mapId" style="height:200px"></div>

</ion-content>

<ion-footer align="center">
  <ion-toolbar >
    <ion-button (click)="bothome()"><ion-icon name="home"></ion-icon></ion-button>
    <!-- <ion-button (click)="boconfig()"><ion-icon name="eye"></ion-icon></ion-button> -->
    <ion-button (click)="onpickupClick()"> <ion-icon name="md-map"></ion-icon></ion-button>
    <ion-button  (click)="bothome()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
