@media(max-width: 576px) {

  ion-header {
      color: rgb(255, 254, 254);
      --ion-background-color: rgb(239, 108, 0);
      text-align:left;
  }
  ion-item {
      --ion-background-color: rgb(253, 253, 253);
  }

  ion-content {
      --ion-background-color: rgb(253, 253, 253);
  }
  
  h2{
      color: rgb(187, 187, 187);  
  }
 
  
 
  ion-card-content {
      background-color: rgb(195, 197, 197);
      
  }

   
  ion-button {
      --background: rgb(0, 0, 0);
      
  }

  ion-fab-button {
      --background: rgb(0, 0, 0);
      
  }


  
  ion-footer {
      --ion-background-color: rgb(239, 108, 0);
      
      
  }
  
  
  
  
}
@media(min-width: 576px) {


  ion-header {
      color: rgb(255, 254, 254);
      --ion-background-color: rgb(239, 108, 0);
      text-align:left;
  }
  ion-item {
      --ion-background-color: rgb(253, 253, 253);
  }

  ion-content {
      --ion-background-color: rgb(253, 253, 253);
  }
  
  h2{
      color: rgb(187, 187, 187);  
  }
 
  
 
  ion-card-content {
      background-color: rgb(195, 197, 197);
      
  }

   
  ion-button {
      --background: rgb(0, 0, 0);
      
  }

  ion-fab-button {
      --background: rgb(0, 0, 0);
      
  }


  
  ion-footer {
      --ion-background-color: rgb(239, 108, 0);
      
      
  }
    
  
}
@media(min-width: 768px) {

  ion-header {
      color: rgb(255, 254, 254);
      --ion-background-color: rgb(239, 108, 0);
      text-align:left;
  }
  ion-item {
      --ion-background-color: rgb(253, 253, 253);
  }

  ion-content {
      --ion-background-color: rgb(253, 253, 253);
  }
  
  h2{
      color: rgb(187, 187, 187);  
  }
 
  
 
  ion-card-content {
      background-color: rgb(195, 197, 197);
      
  }

   
  ion-button {
      --background: rgb(0, 0, 0);
      
  }

  ion-fab-button {
      --background: rgb(0, 0, 0);
      
  }


  
  ion-footer {
      --ion-background-color: rgb(239, 108, 0);
      
      
  }
    
  
  
}
@media(min-width: 992px) {
 
  ion-header {
      color: rgb(255, 254, 254);
      --ion-background-color: rgb(239, 108, 0);
      text-align:left;
  }
  ion-item {
      --ion-background-color: rgb(253, 253, 253);
  }

  ion-content {
      --ion-background-color: rgb(253, 253, 253);
  }
  
  h2{
      color: rgb(187, 187, 187);  
  }
 
  
 
  ion-card-content {
      background-color: rgb(195, 197, 197);
      
  }

   
  ion-button {
      --background: rgb(0, 0, 0);
      
  }

  ion-fab-button {
      --background: rgb(0, 0, 0);
      
  }


  
  ion-footer {
      --ion-background-color: rgb(239, 108, 0);
      
      
  }
  
  
  
}
@media(min-width: 1200px) {
 
  
  ion-header {
      color: rgb(255, 254, 254);
      --ion-background-color: rgb(239, 108, 0);
      text-align:left;
  }
  ion-item {
      --ion-background-color: rgb(253, 253, 253);
  }

  ion-content {
      --ion-background-color: rgb(253, 253, 253);
  }
  
  h2{
      color: rgb(255, 255, 255);  
  }
 
  
 
  ion-card-content {
      background-color: rgb(195, 197, 197);
      
  }

   
  ion-button {
      --background: rgb(0, 0, 0);
      
  }

  ion-fab-button {
      --background: rgb(0, 0, 0);
      
  }


  
  ion-footer {
      --ion-background-color: rgb(239, 108, 0);
      
      
  }
  
}


