<ion-header>
  <ion-toolbar>

    <ion-title>
      <h2>
          DETALLE JUEGO
      </h2>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
  <!-- Link Libreria Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</ion-header>

<!-- <ion-content> 
  My ID is: {{ id }} 
  <p> Nombre: {{ document.data.nombre }} </p>
  <p> Descripcion: {{ document.data.descripcion }} </p>
</ion-content> -->

<ion-content>
    <ion-item>
        <ion-label>Nombre =</ion-label>
        <ion-input [(ngModel)]="document.data.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción =</ion-label>
      <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sipnosis =</ion-label>
      <ion-input [(ngModel)]="document.data.sipnosis"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Genero =</ion-label>
      <ion-input [(ngModel)]="document.data.genero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Desarrolladora =</ion-label>
      <ion-input [(ngModel)]="document.data.desarrolladora"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Presupuesto =</ion-label>
      <ion-input [(ngModel)]="document.data.presupuesto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Año de Salida =</ion-label>
      <ion-input [(ngModel)]="document.data.salida"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio =</ion-label>
      <ion-input [(ngModel)]="document.data.precio"></ion-input>
    </ion-item>

   





      
    <!-- <ion-button (click)="clicBotonInsertar()">Añadir Juego</ion-button> -->
    <div align="center">
      <ion-button  id="botonBorrar" (click)="presentAlertConfirm()">Borrar Juego</ion-button>
      <ion-button  id="botonModificar" (click)="clicBotonModificar()">Guardar Juego</ion-button>
    </div>
    
</ion-content>

<!-- Pie de Pagina Con los botones de Navegacion -->
<ion-footer align="center">
  <ion-toolbar >
    <ion-button (click)="bothome()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button (click)="boconfig()"><ion-icon name="eye"></ion-icon></ion-button>
    <ion-button > <ion-icon name="md-map"></ion-icon></ion-button>
    <ion-button  ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
