<ion-header>
  <ion-toolbar>

    <ion-title>
      <h2>
          Configuracion
      </h2>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
  <!-- Link Libreria Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</ion-header>



<ion-footer align="center">
  <ion-toolbar >
    <ion-button (click)="bothome()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button (click)="boconfig()"><ion-icon name="eye"></ion-icon></ion-button>
    <ion-button (click)="boMaps()"> <ion-icon name="md-map"></ion-icon></ion-button>
    <ion-button  ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
