@media(max-width: 576px) {

    ion-header {
        color: rgb(255, 254, 254);
        --ion-background-color: rgb(239, 108, 0);
        // text-align:left;
    }
    ion-item {
        --ion-background-color: rgb(253, 253, 253);
    }

    ion-content {
        --ion-background-color: rgb(253, 253, 253);
    }
    

    
    
   
    ion-card-content {
        background-color: rgb(195, 197, 197);
        
    }

     
    ion-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-fab-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-title{
        background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
        background-size: 100%;
    }

    ion-item{
        align-content: center;
    }

    #titulo{
        color: rgb(239, 108, 0);
        font-weight: bold;
        font-style: italic;
         text-shadow: 2px 2px 2px  whitesmoke;
    }

    
    ion-footer {
        --ion-background-color: rgb(239, 108, 0);
        
        
    }
    #botUs{
        color: rgb(255, 255, 255);
        --background: rgb(239, 108, 0);
        text-align: right;
    }

    #usNam{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
    
    
    
}
@media(min-width: 576px) {
 
  
    ion-header {
        color: rgb(255, 254, 254);
        --ion-background-color: rgb(239, 108, 0);
        // text-align:left;
    }
    ion-item {
        --ion-background-color: rgb(253, 253, 253);
    }

    ion-content {
        --ion-background-color: rgb(253, 253, 253);
    }
    

    
    
   
    ion-card-content {
        background-color: rgb(195, 197, 197);
        
    }

     
    ion-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-fab-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-title{
        background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
    }

    ion-item{
        align-content: center;
    }
    

    #titulo{
        color: rgb(239, 108, 0);
        font-weight: bold;
        font-style: italic;
         text-shadow: 2px 2px 2px  whitesmoke;
    }


    ion-footer {
        --ion-background-color: rgb(239, 108, 0);
        
        
    }

    #botUs{
        color: rgb(255, 255, 255);
        --background: rgb(239, 108, 0);
        text-align: right;
    }

    #usNam{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
      
    
}
@media(min-width: 768px) {
 
    ion-header {
        color: rgb(255, 254, 254);
        --ion-background-color: rgb(239, 108, 0);
        // text-align:left;
    }
    ion-item {
        --ion-background-color: rgb(253, 253, 253);
    }

    ion-content {
        --ion-background-color: rgb(253, 253, 253);
    }
    

    
    
   
    ion-card-content {
        background-color: rgb(195, 197, 197);
        
    }

     
    ion-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-fab-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-title{
        background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
    }

    ion-grid{
        border: rgb(0, 0, 0);
    }

    ion-item{
        align-content: center;
    }

    #titulo{
        color: rgb(239, 108, 0);
        font-weight: bold;
        font-style: italic;
         text-shadow: 2px 2px 2px  whitesmoke;
    }


    
    ion-footer {
        --ion-background-color: rgb(239, 108, 0);
        
        
    }
    #botUs{
        color: rgb(255, 255, 255);
        --background: rgb(239, 108, 0);
        text-align: right;
    }
    #usNam{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
      
    
    
}
@media(min-width: 992px) {
   
    ion-header {
        color: rgb(255, 254, 254);
        --ion-background-color: rgb(239, 108, 0);
        // text-align:left;
    }
    ion-item {
        --ion-background-color: rgb(253, 253, 253);
    }

    ion-content {
        --ion-background-color: rgb(253, 253, 253);
    }
    

    
    
   
    ion-card-content {
        background-color: rgb(195, 197, 197);
        
    }

     
    ion-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-fab-button {
        --background: rgb(0, 0, 0);    
    }

    ion-footer {
        --ion-background-color: rgb(239, 108, 0);  
    }

    ion-title{
        background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
    }

    ion-grid{
        border: rgb(0, 0, 0);
    }

    ion-item{
        align-content: center;
    }


    #titulo{
        color: rgb(239, 108, 0);
        font-weight: bold;
        font-style: italic;
         text-shadow: 2px 2px 2px  whitesmoke;
    }

    #botUs{
        color: rgb(255, 255, 255);
        --background: rgb(239, 108, 0);
        text-align: right;
    }

    #usNam{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }


    
}
@media(min-width: 1200px) {
   
    
    ion-header {
        color: rgb(255, 254, 254);
        --ion-background-color: rgb(239, 108, 0);
        // text-align:left;
    }
    ion-item {
        --ion-background-color: rgb(253, 253, 253);
    }

    ion-content {
        --ion-background-color: rgb(253, 253, 253);
    }
    

    ion-card-content {
        background-color: rgb(195, 197, 197);
        
    }

     
    ion-button {
        --background: rgb(0, 0, 0);
        
    }

    ion-fab-button {
        --background: rgb(0, 0, 0);
        
    }
    ion-title{
        background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
    }

    
    ion-footer {
        --ion-background-color: rgb(239, 108, 0);  
    }

    ion-grid{
        border: rgb(0, 0, 0);
    }
    ion-item{
        align-content: center;
    }

    #botUs{
        color: rgb(255, 255, 255);
        --background: rgb(239, 108, 0);
        text-align: right;
    }

    #usNam{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
    #titulo{
        color: rgb(239, 108, 0);
        font-weight: bold;
        font-style: italic;
         text-shadow: 2px 2px 2px  whitesmoke;
    }

   
    
    
}


