@media (max-width: 576px) {
  ion-header {
    color: #fffefe;
    --ion-background-color: #ef6c00;
  }
  ion-item {
    --ion-background-color: #fdfdfd;
  }
  ion-content {
    --ion-background-color: #fdfdfd;
  }
  ion-card-content {
    background-color: #c3c5c5;
  }
  ion-button {
    --background: #000;
  }
  ion-fab-button {
    --background: #000;
  }
  ion-title {
    background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
    background-size: 100%;
  }
  ion-item {
    align-content: center;
  }
  #titulo {
    color: #ef6c00;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px whitesmoke;
  }
  ion-footer {
    --ion-background-color: #ef6c00;
  }
  #botUs {
    color: #fff;
    --background: #ef6c00;
    text-align: right;
  }
  #usNam {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 576px) {
  ion-header {
    color: #fffefe;
    --ion-background-color: #ef6c00;
  }
  ion-item {
    --ion-background-color: #fdfdfd;
  }
  ion-content {
    --ion-background-color: #fdfdfd;
  }
  ion-card-content {
    background-color: #c3c5c5;
  }
  ion-button {
    --background: #000;
  }
  ion-fab-button {
    --background: #000;
  }
  ion-title {
    background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
  }
  ion-item {
    align-content: center;
  }
  #titulo {
    color: #ef6c00;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px whitesmoke;
  }
  ion-footer {
    --ion-background-color: #ef6c00;
  }
  #botUs {
    color: #fff;
    --background: #ef6c00;
    text-align: right;
  }
  #usNam {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 768px) {
  ion-header {
    color: #fffefe;
    --ion-background-color: #ef6c00;
  }
  ion-item {
    --ion-background-color: #fdfdfd;
  }
  ion-content {
    --ion-background-color: #fdfdfd;
  }
  ion-card-content {
    background-color: #c3c5c5;
  }
  ion-button {
    --background: #000;
  }
  ion-fab-button {
    --background: #000;
  }
  ion-title {
    background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
  }
  ion-grid {
    border: #000;
  }
  ion-item {
    align-content: center;
  }
  #titulo {
    color: #ef6c00;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px whitesmoke;
  }
  ion-footer {
    --ion-background-color: #ef6c00;
  }
  #botUs {
    color: #fff;
    --background: #ef6c00;
    text-align: right;
  }
  #usNam {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  ion-header {
    color: #fffefe;
    --ion-background-color: #ef6c00;
  }
  ion-item {
    --ion-background-color: #fdfdfd;
  }
  ion-content {
    --ion-background-color: #fdfdfd;
  }
  ion-card-content {
    background-color: #c3c5c5;
  }
  ion-button {
    --background: #000;
  }
  ion-fab-button {
    --background: #000;
  }
  ion-footer {
    --ion-background-color: #ef6c00;
  }
  ion-title {
    background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
  }
  ion-grid {
    border: #000;
  }
  ion-item {
    align-content: center;
  }
  #titulo {
    color: #ef6c00;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px whitesmoke;
  }
  #botUs {
    color: #fff;
    --background: #ef6c00;
    text-align: right;
  }
  #usNam {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  ion-header {
    color: #fffefe;
    --ion-background-color: #ef6c00;
  }
  ion-item {
    --ion-background-color: #fdfdfd;
  }
  ion-content {
    --ion-background-color: #fdfdfd;
  }
  ion-card-content {
    background-color: #c3c5c5;
  }
  ion-button {
    --background: #000;
  }
  ion-fab-button {
    --background: #000;
  }
  ion-title {
    background-image: url("https://i.pinimg.com/originals/6e/9e/57/6e9e57ca0c30628a66e5a577e09c4600.png");
  }
  ion-footer {
    --ion-background-color: #ef6c00;
  }
  ion-grid {
    border: #000;
  }
  ion-item {
    align-content: center;
  }
  #botUs {
    color: #fff;
    --background: #ef6c00;
    text-align: right;
  }
  #usNam {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #titulo {
    color: #ef6c00;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px whitesmoke;
  }
}
