<ion-header>
  <ion-toolbar>
    <ion-title id="titulo">

      <h2>InstanJuego</h2> 
   
      <ion-button id="botUs" ><ion-icon name="contact"></ion-icon></ion-button>
  
    </ion-title>
    
    
  </ion-toolbar>

</ion-header>

<ion-content>
  
      <!-- <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input [(ngModel)]="JuegosBD.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-input [(ngModel)]="JuegosBD.descripcion"></ion-input>
        </ion-item> -->

       
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button  (click)="clicBotonInsertar()"><ion-icon name="add-circle-outline"></ion-icon> </ion-fab-button>
        </ion-fab>
      
        <ion-item *ngFor="let documentJuego of arrayColeccionJuegos" (click)="selecJuego(documentJuego)">
          <ion-grid>
       

            <p><br><br><b>{{documentJuego.data.nombre}}</b></p>

            <ion-row>
              <ion-col size="4" >
                <ion-img [src]="documentJuego.data.imagen"></ion-img><br>
              </ion-col>
            </ion-row>

            <ion-row>
              <p>Precio<br><br><b>{{documentJuego.data.precio}} €</b></p>
            </ion-row>

          </ion-grid>
        </ion-item>
       

</ion-content>

<!-- Pie de Pagina Con los botones de Navegacion -->
<ion-footer align="center">
  <ion-toolbar >
    <ion-button (click)="bothome()"><ion-icon name="home"></ion-icon></ion-button>
    <!-- <ion-button (click)="boconfig()"><ion-icon name="eye"></ion-icon></ion-button> -->
    <ion-button (click)="onpickupClick()"> <ion-icon name="md-map"></ion-icon></ion-button>
    <ion-button  ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
