<ion-header>
  <ion-toolbar>
    <ion-title>
      JuegosBD
    </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content>
  
      <!-- <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input [(ngModel)]="JuegosBD.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-input [(ngModel)]="JuegosBD.descripcion"></ion-input>
        </ion-item> -->


        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="primary" (click)="clicBotonInsertar()"><ion-icon name="add-circle-outline"></ion-icon> </ion-fab-button>
        </ion-fab>
      
        <ion-item *ngFor="let documentJuego of arrayColeccionJuegos" (click)="selecJuego(documentJuego)">
          <ion-grid>
            <ion-row>
              <p>Nombre=<b>{{documentJuego.data.nombre}}</b></p>
            </ion-row>
            <ion-row>
              <p>Descripcion= {{documentJuego.data.descripcion}}</p>
            </ion-row>
           
          </ion-grid>
        </ion-item>

</ion-content>

<!-- Pie de Pagina Con los botones de Navegacion -->
<ion-footer>
  <ion-toolbar align="center">
    <ion-button color="primary"(click)="bothome()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button color="primary"><ion-icon name="search"></ion-icon></ion-button>
    <ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button>
    <ion-button color="primary"> <ion-icon name="md-map"></ion-icon></ion-button>
    <ion-button color="primary" ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
